body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    background-color: #15cc1e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5p   x;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    background: #2e0ebe;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #df048b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #0f85d4;
    color: #fff;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

a {
    color: #fbff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}